DISCORD_TOKEN=your_discord_bot_token
DISCORD_CLIENT_ID=your_discord_application_client_id
DISCORD_GUILD_ID=your_discord_test_guild_id
DEFAULT_ALERT_CHANNEL_ID=
MONITOR_INTERVAL_MS=60000
ALERT_COOLDOWN_MS=300000
ROLIMONS_TTL_MS=300000
